# -----------------------------
# Terraform
# -----------------------------

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Local .terraform directories
.terraform/

# Terraform lock and state files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Crash logs
crash.log

# Ignore all backup files
*.backup
*.bak

# Terraform variable files that may contain secrets
*.tfvars
*.tfvars.json

# Plan files
*.tfplan

# -----------------------------
# VS Code
# -----------------------------
.vscode/
.history/
*.code-workspace

